.multiple {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  width: calc(100% / 3);
  padding: 0 15px;
  margin-bottom: 30px;
}
.cardVideo {
  max-width: 100%;
}
.imgCover {
  width: 100%;
}
.img {
  width: 100%;
  border-radius: 5px;
}
.media {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.mediaLeft {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.mediaImg {
  width: 100%;
  border-radius: 50%;
}
.mediaContent {
  flex: 1;
}
.mediaTitle {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.mediaSubtitle {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0 0 0;
}
